html,
body,
#frame {

    html,
    body {
        height: 100%;
        width: 100%;
        overflow: hidden;
        background: #05050a
    }

    body {
        -webkit-font-smoothing: antialiased
    }

    canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block
    }

    padding: 8px 12px;
    cursor: pointer
}